# ==========================================
# CONFIGURACIÓN GENERAL DEL SERVIDOR
# ==========================================
PORT=8000
HOST=0.0.0.0

# ==========================================
# BASE DE DATOS (POSTGRESQL)
# ==========================================
DATABASE_URL=postgresql://baby_admin:baby_secure_password_2026@localhost:5432/nidus_monitor

# ==========================================
# SEGURIDAD Y JWT
# ==========================================
JWT_SECRET=super_secret_baby_key_2026_random_long
JWT_ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=1440

# ==========================================
# NOTIFICACIONES FIREBASE (FCM)
# ==========================================
FCM_CREDENTIALS_PATH=/app/secrets/serviceAccountKey.json

# ==========================================
# OPTIMIZACIÓN IA
# ==========================================
# Cuadros por segundo a analizar (5 fps reduce drásticamente el uso de CPU en i5 5ta Gen)
PROCESS_FPS=5
# Dimensiones a las que se reduce el video antes de pasarlo a MediaPipe
PROCESS_WIDTH=320
# Altura a la que se reduce el video
PROCESS_HEIGHT=240

# ==========================================
# UMBRALES DE DETECCIÓN Y ESTADOS
# ==========================================
# Relación de aspecto del ojo (EAR) por debajo de la cual se considera ojo cerrado
EAR_THRESHOLD=0.2
# Frames consecutivos (a PROCESS_FPS) con ojos abiertos para activar estado Despierto (ej. 15 frames = 3 seg)
EAR_CONSECUTIVE_FRAMES=15
